# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Onedrive_Mark.Kors\OneDrive\ROC ICA\WebDesign\Lesplan en leerlijn\Leerjaar 3\Making asynchronous programming easier with async and await\fetch_demo_json\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
